version: "3.9"

services:
  postgres-db:
    image: postgres:16
    container_name: postgres_container
    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: mydatabase

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: nextjs_app
    ports:
      - "3000:3000"
    environment:
      # NOTA: Usamos 'postgres-db' como host en lugar de localhost
      DATABASE_URL: "postgresql://postgres:postgres123@postgres-db:5432/mydatabase?schema=public"
    depends_on:
      - postgres-db
    volumes:
      - .:/app
      - /app/node_modules
      - /app/prisma/generated    

volumes:
  postgres_data: